body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.logotxt {
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 35px;
}

.header {
    background-color: #1F2937;
    padding: 25px;
}

.navbar {
    display: flex;
    gap: 63px;
    justify-content: flex-end;    
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-right: 45px;
}

.sign {
    display: flex;
    width: 100px;
    color: white;
    background-color: #3882F6;
    padding: 10px;
    border: 2px;
    justify-content: center;
    margin-left: 35px;
}

.title {
    margin-left: 35px;
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
}

.subtitle {
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 35px;
}

.mid {
    background-color: white;
}

.title1 {
    font-weight:bolder;
    font-size: 36px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img1 {
    display: flex;
    justify-content: center;
}

.images-x {
    display: flex;
    justify-content: space-around;
}



.mid2 {
    padding: 105px;
    background-color: #E5E7EB;
}

.textmid2 {
    display: flex;
    font-size: 36px;
    font-style: light italic;
    color: #1F2937
}


.textmid2_1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.footer {
    padding: 25px;
    text-align: center;
    background-color: #1F2937;
    color: white;
}

a {
   text-decoration: none; 
   color: white;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}