body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.logotxt {
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    color: #F9FAF8;
}


.header {
    background-color: #1F2937;
    padding: 25px;
}

.navbar {
    display: flex;
    gap: 63px;
    justify-content: flex-end;    
    align-items: flex-start;
    flex-wrap: nowrap;
}

.sign {
    display: flex;
    width: 100px;
    color: white;
    background-color: #3882F6;
    padding: 2px;
    border: 2px;
    justify-content: center;
}



.title {
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
}

.subtitle {
    font-size: 18px;
    color: #E5E7EB;
}

.mid {
    background-color: white;
}



a {
   text-decoration: none; 
   color: white;
}